.portfolio__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.portfolio__item {
	background: var(--container-color);
	padding: 1.3rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: var(--transition);
}

.portfolio__item:hover {
	border: 1px solid var(--first-color);
	background: transparent;
   transform: scale(1.05);
}

.portfolio__img {
	border-radius: 1.5rem;
	overflow: hidden;
}

.portfolio__title {
	margin: 1.2rem 0 2rem;
}

.portfolio__btns {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

/*=============== GENERAL MEDIA QUERIES ===============*/
/* ==== Medium Devices ==== */
@media screen and (max-width: 1024px) {
	.portfolio__container {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.2rem;
	}
}


/* ==== Small Devices ==== */
@media screen and (max-width: 600px) {
    .portfolio__container {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
