.container.testimonials__container {
    width: 40%;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: .1rem solid var(--first-color-alt);
}

.testimonial {
    background: var(--container-color);
    text-align: center;
    border-radius: 2rem;
    padding: 2rem;
    user-select: none;
}

.client__review {
    display: block;
    font-weight: 300;
    width: 80%;
    margin: .8rem auto 0;
}

/*=============== GENERAL MEDIA QUERIES ===============*/
/* ==== Medium Devices ==== */
@media screen and (max-width: 1024px) {
	
}


/* ==== Small Devices ==== */
@media screen and (max-width: 600px) {
    
}